/ComponentTypeEnum.r
/ISecurityManager.r
/SecurityManager.r
/SecurityManagerDecorator.r
/ServiceTypeEnum.r
/TenantManager.r
/as_activate.r
/as_connect.r
/as_deactivate.r
/as_disconnect.r
/as_shutdown.r
/as_startup.r
/service_interface_fetchdata.r
/service_interface_savedata.r
/service_interface_userlogin.r
/service_interface_userlogout.r
/service_interface_validatesession.r
/service_userlogin.r
/service_userlogout.r
/service_validatesession.r
