/ITableContext.r
/AckResponse.r
/BizLogicWorkFlowRequest.r
/BizLogicWorkStepRequest.r
/DataFormatEnum.r
/FetchRequest.r
/FetchResponse.r
/ISaveRequest.r
/ISaveResponse.r
/IServiceProvider.r
/ITableRequest.r
/ITableRequestCollection.r
/ITableResponse.r
/ITableResponseCollection.r
/ITaskRequest.r
/ITaskResponse.r
/IWorkflowResponse.r
/IWorkstepResponse.r
/SaveRequest.r
/SaveResponse.r
/SecurityManagerRequest.r
/SecurityManagerResponse.r
/ServiceMessageActionEnum.r
/ServiceMessageConsumerCollection.r
/ServiceRequestError.r
/TableContext.r
/TableRequest.r
/TableRequestTypeEnum.r
/TableResponse.r
/TaskRequest.r
/TaskResponse.r
/WorkstepResponse.r
/IFetchRequest.r
/IFetchResponse.r
/IMessageConsumer.r
/IServiceMessage.r
/IServiceRequest.r
/IServiceResponse.r
/IWorkflowRequest.r
/IWorkstepRequest.r
/ServiceMessage.r
/ServiceRequest.r
/ServiceResponse.r
/WorkstepRequest.r
