/IApplicationLogin.r
/IApplicationStart.r
/IComponent.r
/IManager.r
/AuthenticationError.r
/AuthorizationError.r
/Component.r
/ComponentInfo.r
/ComponentTypeEnum.r
/ConnectionManager.r
/ConnectionManagerActionEventArgs.r
/DestroyComponentError.r
/IComponentCollection.r
/IComponentInfo.r
/IConnectionManager.r
/ISecurityManager.r
/IService.r
/IServiceCollection.r
/IServiceManager.r
/IServiceMessageManager.r
/ITenantManager.r
/IUserContext.r
/SecurityManager.r
/ServiceManager.r
/ServiceMessageManager.r
/ServiceTypeEnum.r
/UpdateActionEnum.r
/UserContext.r
/start_session.r
/stop_session.r
/Service.r
