/ActionStateEnum.r
/CloseReasonEnum.r
/DataFetchEventArgs.r
/DialogResultEnum.r
/ISelectToolbarAction.r
/LoginError.r
/ModelActionEnum.r
/ModelActionEventArgs.r
/ModelErrorEventArgs.r
/NavigationActionEnum.r
/NavigationPanelEventArgs.r
/ToolbarActionEventArgs.r
/ToolbarActionTypeEnum.r
/UndoActionEventArgs.r
/UpdatePanelEventArgs.r
